<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="$(var.ProductCode)" Name="Solver" Language="1033" Version="$(var.Version)"
           Manufacturer="Your Company" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" Comments="Windows Installer Package"/>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Solver">
          <Component Id="ApplicationFiles" Guid="*">
            <File Id="ApplicationFile" Source="$(var.SourcePath)" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="ApplicationFiles"/>
    </Feature>
    <Icon Id="icon.ico" SourceFile="$(var.IconPath)"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicensePath)"/>
  </Product>
</Wix>
